@media screen and (max-width: 850px){
    header{
        padding: 0;   
    }
    header .right-header{
        padding: 0rem !important;
    }

    .theme-btn{
        width: 50px;
        height: 50px;
    }

    .header-content{
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6px;
    }

    .left-header{
        .h-shape{
            display: none;
        }
    }

    .right-header{
        grid-row: 1;
        //padding-right: 0rem !important;
        width: 90%;
        margin: 0 auto;
        .name{
            font-size: 2.5rem !important;
            text-align: center;
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
        .p{
            text-align: justify;
        }
    }

    .header-content .left-header .image{
        margin: 0 auto;
        width: 90%;
    }

    .controls{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey5);
        .control{
            margin: 1rem .3rem;
        }
    }
}